@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=KoHo:wght@600&display=swap');

body {

    padding: 0px;

  margin-left: 40px;

  margin-right: 40px;
  
}

/* introdução */

#titulo{
    text-align: center;
    font-family: 'KoHo';
    font-style: normal;
    font-size: 45px;
    color: #5D2747;
}

.topo{
    text-align: center;
    font-family: 'inter';
    font-style: normal;
    font-size: 20px;
    
}

/* explicação sobre os dados */

.dado{
    font-family: 'inter';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-size: 20px;
}

.txtDado{
    display: flex;
    flex-direction: column;
}

.img{
    position: relative;
}

/* fichas e habilidades */

.meioSup{
    font-family: 'inter';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
}

/* habilidades */
.habilidade{
    font-family: 'inter';
    display: flex;
    background-color: #5D2747;
    color: white;
    border: 20px solid #5D2747;
    border-radius: 10px;
    opacity: 45%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

#titulo2{
    color: white;
    font-family: 'inter';
    display: flex;
    font-size: 32px;
}

#sub_titulo{
    font-size: 24px;
}

table{
    border: white;
}

.pericia{
    position: relative;
    margin-left: 50px;
}

/*Ficha*/

.Aviso{
    background-color: #5D2747;
    color: white;
    border: 10px solid #5D2747;
    border-radius: 10px;
    opacity: 45%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 610px;
}

/* Inventario */

/* class da tabela */
.table_inv{
    font-family: 'inter';
    display: flex;
    flex-direction: column;
}

#tab{
   border: black; 
  border:1px solid black;
  
}

/* class dos kits */
.lado_dir{
    position: relative;
    margin-left: 50px;
}

#kits{
    font-size: 16px;
}
/* esse class pega a div da ultima tabela do lado direito
com os kits */
.inv{
    display : flex;
    flex-direction : row;
}