@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@600&display=swap');

body {

  padding: 0;

  margin: 0;

}

#titulo{
    text-align: center;
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #5D2747;
}

.meio{
    text-align: center;
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #5D2747;
}

.botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;
}

button{
    color: white;
    background: #5D2747;
    border-radius: 7px;
    border-color: #5D2747;
    width: 129px;
    height: 44px;
}

