@font-face{
    font-family: 'KoHo';
    src: url(../fonts/KoHo/KoHo-Regular.ttf);
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  .titulo{
      font-family: 'KoHo';
      font-size: 45px;
      color: #5D2747;
      font-weight: bold;
  }
  
  .meio{
      font-family: 'KoHo';
      font-size: 24px;
  }
  
  #escolha{
    font-family: 'KoHo';
      font-style: normal;
      color: rgb(20, 20, 20);
      font-size: 24px;
  }
  .btn_benvindas{
    color: white;
    background: #5D2747;
    border: none;
    border-radius: 7px;
    width: 10rem;
    height: 3rem;
  }