@font-face{
  font-family: 'Inter Regular';
  src: url(fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
  font-family: 'KoHo';
  src: url(fonts/KoHo/KoHo-Medium.ttf);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'KoHo';

}

h1{
    text-align: center;
    font-family: 'KoHo';
    font-style: normal;
    color: #5D2747;
}

.colunas img{
  width: 270px;
  height: 152px;
}

@media screen {
  
}