@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: 'KoHo';
    src: url(../assets/fonts/KoHo/KoHo-Medium.ttf);
}

.navbar{
    padding: 0;
    margin: 0;
}

/* NAVBAR */



.button_cadastro{
    padding: 2px 2px 2px 2px;
    border: 2px solid #5D2747;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    font-size: 12px;
    color: black;
    font-family: 'KoHo', sans-serif;
    
}

.button_cadastro:hover{
    background-color: #5D2747;
    border: 2px solid #9F3647;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    font-size: 12px;
    color: white;
    font-family: 'KoHo', sans-serif;
    
}

.button_login{
    padding: 2px 2px 2px 2px;
    border: 2px solid #9F3647;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    font-size: 12px;
    color: black;
    font-family: 'KoHo', sans-serif;
    
}

.button_login:hover{
    background-color: #9F3647;
    border: 2px solid #5D2747;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    font-size: 12px;
    color: white;
    font-family: 'KoHo', sans-serif;
    
}

a{
    text-decoration: none;
    color: black;
    font-family: 'KoHo', sans-serif;
}
a:hover{
    color: #5D2747;
}
