@font-face{
    font-family: 'Inter Regular';
    src: url(fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: 'KoHo';
    src: url(fonts/KoHo/KoHo-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
}